{% extends "base.html" %}
{% block contenido %}
<div class="container my-5">
    <h3 class="text-center mb-4">Calculadora de Índice de Masa Corporal (IMC)</h3>


    <div class="text-center mb-4">

        <p class="text-muted">La calculadora de IMC estima tu relación entre el peso y la estatura para analizar si te encuentras en un rango saludable.
        Esuna herramienta sencilla que clasifica tu estado corporal (bajo peso, normal, sobrepeso u obesidad) según estándares internacionales.
        Permite evaluar riesgos iniciales relacionados con el peso y es útil para llevar control de salud y bienestar.</p>
    </div>

    <form method="post" class="mx-auto" style="max-width:400px;">
    <div class="mb-3">
        <label class="form-label">Peso (kg):</label>
        <input type="number" name="peso" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Altura (cm):</label>
        <input type="number" name="altura" class="form-control" required>
    </div>
    <button class="btn btn-warning w-100">Calcular</button>
    </form>

    {% if resultado %}
    <div class="alert alert-info text-center mt-4">{{ resultado }}</div>
    {% endif %}
</div>
{% endblock %}
